.ms_product {
    .ms_green {
        background-color: green;
        padding: 5px;
        border: green;
        color: white;
    }

    .ms_red {
        background-color: red;
        padding: 5px;
        border: red;
        color: white;
    }
}