.ms_product {
    .ms_green {
        background-color: green;
        padding: 5px;
        border: green;
        color: white;
        position: absolute;
        top: 80%;
        right: 62%;
    }

    .ms_red {
        background-color: red;
        padding: 5px;
        border: red;
        color: white;
        position: absolute;
        top: 80%;
        
    }
    .ms_heart {
        position: absolute;
        top: 20px;
        right: 0px;
        background-color: white;
        padding-top: 10px;
        padding-left: 15px;
        padding-right: 10px;
    }

}